table{
    align-items: center;
}
.jumbotron
{
    text-align: center;
    font-size: large;
    padding-bottom: 5px;
    background-color: rgb(22, 21, 21);
    color: white;
}
img {
    height:250px;
    width: 200px;
}
#foot{
    font-size: 30px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-image:url("bg1.jpg");
}
th,td{
    font-size: 23.5px;
    color: white;
}
th,td,nav,h2{
    font-family: "Lucida Console", "Courier New", monospace;
}
button{
    color: black;
    width:auto;
    margin-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color:yellow ;
    font-size: 22px;
    height: 35px;
    font-weight: 900;
}


.cart-container {
    border:1px solid #E0E4CC;
    border-radius:5px;
    margin-top:1em;
    padding:1em;
  }

  .cart-buttons {
    width:auto;
    margin-right:0;
    margin-left:auto;
    display:flex;
    justify-content:flex-end;
    padding:1em 0;
  }

  table td, table th {
    text-align:left;
    padding:0.25em 1em;
    border-bottom:1px solid #E0E4CC;
  }


  #carttotals {
    margin-right:0;
    margin-left:auto;
  }

